body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'Robotos';
  src: local('Robotos'), url('./fonts/Roboto-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Robotos2';
  src: local('Robotos'), url('./fonts/Roboto-Italic.woff') format('woff');
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
